.work-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fcfdff;
}

.work-content {
    flex: 1;
    padding-top: 4rem; /* Account for fixed navbar */
    display: flex;
    flex-direction: column;
}

.work-title {
    text-align: center;
    font-size: 2.5rem;
    color: #4a89dc;
    margin: 2rem 0;
    font-weight: 500;
    letter-spacing: -0.5px;
}
